//
//  generic.xcconfig
//  ShangHaiProvidentFund
//
//  Created by dongdong.cheng on 2019/3/21.
//  Copyright © 2019 cheng dong. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) IS_DEV='$(IS_DEV)' IS_TEST='$(IS_TEST)' IS_RELEASE='$(IS_RELEASE)'
